        /*頁籤標題 start*/
        .tab .nav-item.active {
            color: #ffffff !important;
            background-color: #5aa0b9 !important;
            border: 1px solid #4f93ab !important;
            margin-right: 1px;
        }

        .tab .nav-item {
            color: #000000 !important;
            background-color: #ffffff !important;
            border: 1px solid #4f93ab !important;
            margin-right: 1px;
        }

        /*頁籤標題 end*/

        /*標題前方的+號  start*/
        .tab .newsTxt ul li:before {
            position: absolute;
            left: 1%;
            text-align: center;
            margin: 5px 0px;
            line-height: 20px;
            transition: all .2s;
            color: #ffffff;
            background: #b1b1b1;
            width: 20px;
            height: 20px;
            border-radius: 10%;
            content: '+';
        }

        /*標題前方的+號  end*/


        .tab .newsTxt ul li .date {
            color: #d0491e;
            font-size: 1.2em;
        }


        .tab .newsTxt ul li {
            margin-bottom: .5rem;
            list-style: none;
            padding-bottom: 3px;
        }

        /*超連結去除底線*/
        .tab .newsTxt ul li a {
            text-decoration: none;
            color: #555;
        }

        /*粗體*/
        .tab .nav {
            font-size: 1.25em;
            font-weight: 600;
        }

        .tab .newsTxt ul li .subTitle {
            /*font-weight: bold;*/
            font-size: 1.2em;
        }
        
        /*虛線*/
        .tab .newsTxt ul li {
            margin-bottom: 0.5rem;
            list-style: none;
            padding-bottom: 3px;
            border-bottom: 1px dotted #d5d5d5;
        }